{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="container">
        <div style="margin-bottom: 40px">
                <!-- 搜索框 -->
            <div style="float: right; width: 300px" >
                <form method="get">
                    <div class="input-group">
                      <input type="text" name="search" class="form-control" value="{{ search }}" placeholder="搜标题">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜 索</button>
                      </span>
                    </div>
                  </form>
            </div>
        </div>

                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading"></div>

                  <!-- Table -->
                  <table class="table  table-bordered" >
                    <thead>
                      <tr>
                        <th>ID</th>
                          {% for x in form %}
                            <th>{{ x.label }}</th>
                          {% endfor %}
                          <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                      <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.user }}</td>
                        <td>{{ obj.datetime }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs btnEdit" uid="{{ obj.id }}">编辑</a>
                            <a class="btn btn-danger btn-xs btnDelete" uid="{{ obj.id }}">删除</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!--新建、编辑弹窗-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新建</h4>
                      </div>
                      <div class="modal-body">
                        <form id="formAdd">
                          {% for field in form %}
                              <div>
                              <label>{{ field.label }}</label>
                              {{ field }}
                              <span id="err_msg" style="margin-bottom: 20px;color: red">{{ field.errors.0 }}</span>
                            </div>
                          {% endfor %}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                        <button id="btnSave" type="button" class="btn btn-primary">保 存</button>
                      </div>
                    </div>
                  </div>
                </div>
        <!--分页-->
        <div class="container">
            <ul class="pagination">
                {{ page_string }}
              </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        var EDIT_ID = 0
        $(function (){
            bindBtnSave();
            bindBtnEdit();
            bindBtnDelete();
        })

        function bindBtnSave(){
            $("#btnSave").click(function (){
                console.log(EDIT_ID)
                //清除错误信息
                $('#err_msg').empty();
                if(EDIT_ID){
                    //保存编辑的信息
                        $.ajax({
                            url:'/blog/edit/' + '?uid=' + EDIT_ID,
                            type:"post",
                            data:$("#formAdd").serialize(),
                            dataType:"JSON",
                            success:function (res){
                                if(res.status){
                                    //提交成功，关闭弹窗，刷新页面
                                    alert("提交成功");
                                    $("#myModal").modal('hide');
                                    window.location = '/blog/list/';
                                }else {
                                    //提交失败，展示错误信息
                                    $.each(res.error, function (name, errorList){
                                        $("#id_" + name).next().text(errorList[0])
                                    })
                                }
                            }
                        })
                }
            })
        }

        function bindBtnEdit(){
            $('.btnEdit').click(function (){
                EDIT_ID = $(this).attr('uid');
                //console.log(EDIT_ID)
                $.ajax({
                    url:'/blog/get/',
                    type: "get",
                    data: {'uid':EDIT_ID},
                    dataType: "JSON",
                    success:function (res){
                        if(res.status){
                           // console.log(res)
                            //在表单中展示数据
                            $.each(res.data, function (name, value){
                                $('#id_' + name).val(value);
                            })
                            //更改弹窗标题，展示弹窗
                            $('#myModalLabel').text("编辑");
                            $('#myModal').modal('show');
                        }
                    }
                })
            })
        }

        function bindBtnDelete(){
            $(".btnDelete").click(function (){
                $.ajax({
                    url:'/blog/delete/',
                    type:"get",
                    data:{'uid': $(this).attr("uid")},
                    dataType:"JSON",
                    success:function (res){
                        if(res.status){
                            //成功提示，刷新页面
                            window.location = '/blog/list/';
                            alert("删除成功！");
                        }
                    }
                })

            })
        }
    </script>
{% endblock %}