{% extends 'layout.html' %}

{% block content %}
<div>
    <div class="container">
        <div class="panel panel-default">
        <form id="formCrt">
          <div class="panel-body">
            {% for field in form %}
                <div style="margin-bottom: 10px">
                <label>{{ field.label }}</label>
                    {{ field }}
                <span style="color: red">{{ field.errors.0 }}</span>
                </div>
              {% endfor %}
          </div>
        </form>
          <button id="btnAdd" type="submit" class="btn btn-default" style="margin: 15px">提 交</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function (){
            bindBtnAdd();
        })

        function bindBtnAdd(){
            $('#btnAdd').click(function (){
                $.ajax({
                    url:"/create/",
                    type:"post",
                    data:$('#formCrt').serialize(),
                    dataType:"JSON",
                    success:function (res){
                        if(res.status){
                            alert("提交成功");
                            //提交成功后清空列表
                            $("#formCrt")[0].reset();
                            window.location = '/create/';
                        }else{
                            $.each(res.error,function (name, errorList){
                                $("#id_"+name).next().text(errorList[0]);
                            })
                        }

                    }
                })
            })
        }
    </script>
{% endblock %}