{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
 <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/blog/">全部文章</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/create/">写博客</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.session.info.username %}
                 <li> <a>{{ request.session.info.username }}</a></li>
                    <li><a href="/logout/">注销</a></li>
                {% else %}
                   <li><a href="/login/">登录</a></li>
                   <li><a href="/register/">注册</a></li>
                {% endif %}

          </ul>
        </div>
      </div>
    </nav>
{% block content %}{% endblock %}
</body>
</html>